<%- include('./partials/head.ejs')%>


<link rel="stylesheet" href="/css/index.css">



<body>

<header>

    
    <div id="titleDiv">
        <h1>Body Movement</h1>
    </div>

    <div id="indexOuterNav">
      <div id="indexInnerNav">
          <a class="indexButtons" href="/show_preset">Preset Routine</a>
          <a class="indexButtons" href="/show_personal">Your Routine</a>
          <a class="indexButtons" href="/new">Create Exercise</a>
      </div>
  </div>

<!--#region main  -->

<!-- <div id="indexOuterNav">
  <nav id="indexInnerNav" class="navbar navbar-light navbar-expand-sm bg-light " >
    <div id="container-fluid" class="container-fluid ">
      <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="indexButtons" href="/index/show_preset">Preset Routine</a>
            </li>
            <li class="nav-item">
              <a class="indexButtons" href="/index/show_personal">Your Routine</a>
            </li>
            <li class="nav-item">
              <a class="indexButtons" href="/index/new">Create Routine</a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </nav>
</div> -->

<!--#endregion -->

</header>

    <div>
        <h3>Feel Stronger. Live longer.</h3>
    </div>
    

 <!--#region Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://media.istockphoto.com/photos/time-to-pump-that-iron-picture-id1069959276?k=20&m=1069959276&s=612x612&w=0&h=OQGr2MB2irW_4Ge8JssERwE_BJzwTO6mEcm584Y7f9M=" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.istockphoto.com/photos/3d-render-gym-fitness-center-picture-id1129698675?k=20&m=1129698675&s=612x612&w=0&h=991IGTtd8tClj42O3nz6T5eAV0RL1GdQ0AVnI67ql0Y=" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.istockphoto.com/photos/modern-gym-interior-with-city-view-3d-rendering-picture-id974165230?k=20&m=974165230&s=612x612&w=0&h=kPzEm2VDXMN3gTApP7DTtelSdHtnIkjkHcXVwpRClb4=" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
<!--#endregion -->


    <div id="paragraphDiv">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error sunt totam molestiae ullam earum dolore, vel ipsa ea esse quidem aperiam impedit aliquid nostrum tempora libero! Sapiente perspiciatis fugiat distinctio!</p>
    </div>



<% /* %>
<!--#region main  -->

<div id="indexOuterNav">
  <nav id="indexInnerNav" class="navbar navbar-light navbar-expand-sm bg-light " >
    <div id="container-fluid" class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="indexButtons" href="/index/show_preset">Preset Routine</a>
            </li>
            <li class="nav-item">
              <a class="indexButtons" href="/index/show_personal">Your Routine</a>
            </li>
            <li class="nav-item">
              <a class="indexButtons" href="/index/new">Create Routine</a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>
<!--#endregion -->
<% */ %>

</body>
</html>