<%- include('./partials/head.ejs')%>

<body>

    <h1>New Page</h1>

    <form action="/index" method="POST">
        name: <input type="text" name="name" value="New Exercise"/><br />
        sets: <input type="number" min="1" name="sets" value="3"/><br />
        lbs: <input type="number" min="0" name="lbs" value="30"/><br />
        reps: <input type="number" min="1" name="reps" value="10"/><br />
        rest: <input type="number" min="0" name="rest" value="60"/><br />
        rpe: <input type="number" min="0" max="10" name="rpe" value="8"/><br />
        <input type="submit" name="" value="Add Exercise" />
    </form>

</body>
</html>


