
.subHeading {
    padding: 15px 0 20px 0;
}

#carouselExampleControls {
    display: block;
    max-height: 400px;
    position:relative;
    contain: content;
}

img{
    vertical-align:top;
    /* position:fixed; */
    top:0;

}


 #paragraphDiv {
     width: 100%;
     /* background-color: sandybrown; */
 }



